# Python
__pycache__/
*.egg-info/
.pytest_cache/
.coverage
coverage.xml

# Linting / formatting caches
.ruff_cache/

# Node
node_modules/

# IDEs
.vscode/
.idea/

# Home Assistant local config
config/*
!config/configuration.yaml

/todo.md
